<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>PayMySitter</title>

        <meta name="description" content="The official PayMySitter schedule and payment engine!">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        ....and so on

    </head>
    <body>
        <div id="page-wrapper">
            <div id="page-container" class="sidebar-partial sidebar-visible-lg  sidebar-no-animations">
                <!-- Main Sidebar -->
                <div id="sidebar">

                    ....and so on

                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <header class="navbar navbar-default">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">

                            ....and so on

                        </ul>
                        <!-- END Left Header Navigation -->

                        <!-- Right Header Navigation -->
                        <ul class="nav navbar-nav-custom pull-right">
                            <!-- User Dropdown -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% if member.pictureservingurl %}{{ member.pictureservingurl|replace('http', 'https') }}=s40{% else %}/img/icon57.png{% endif %}" alt="avatar"> <i class="fa fa-angle-down"></i>
                                </a>

                                ....and so on

                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->
                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- Fixed Top Header + Footer Header -->

                        ....and so on

                        <!-- END Fixed Top Header + Footer Header -->

                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">
                            <!-- Horizontal Form Block -->
                            <div class="block">
                                <!-- Horizontal Form Content -->
                                <form class="form-horizontal form-bordered" id="formCircleInvite" action="/circleinviteconfirm" method="post" style="margin:5px;">
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-lg-8 col-lg-offset-2">
                                            <h4>The concept of the PayMySitter circle and inviting people to join yours is simple. <a href="#" id="href_circleinviteexplained">Learn more...</a></h4>
                                        </div>
                                    </div>
                                    {% if member.membertype=="Parent" %}
                                    {% if (connectionsIMadeMemberList|length > 0) or (connectionsIReceivedMemberList|length > 0) %}
                                    <div class="row" style="margin-top:30px;">
                                        <div class="col-lg-10 col-lg-offset-1">
                                            {% for each_member in connectionsIMadeMemberList %}
                                                <div class="text-center"><a href="/viewotherssitters/{{ each_member.emailaddress }}/{{ each_member.publichash }}" class="btn btn-mini btn-primary"><i class="gi gi-group"></i>&nbsp;&nbsp;View {{ each_member.firstname }} {{ each_member.lastname }}'s sitters</a></div>
                                            {% endfor %}
                                            {% for each_member in connectionsIReceivedMemberList %}
                                                <div class="text-center"><a href="/viewotherssitters/{{ each_member.emailaddress }}/{{ each_member.publichash }}" class="btn btn-mini btn-primary"><i class="gi gi-group"></i>&nbsp;&nbsp;View {{ each_member.firstname }} {{ each_member.lastname }}'s sitters</a></div>
                                            {% endfor %}
                                            <h1 class="text-center animation-bigEntrance" style="margin-top:40px;">~ OR ~</h1>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}


                                    ....and so on

                                </form>
                                <!-- END Horizontal Form Content -->
                            </div>
                            <!-- END Horizontal Form Block -->
                          </div>
                        </div>

                        ....and so on

    </body>
</html>